/* ====== GERAL ======================================== */
:root {

  --hue: 290;
  --primary-color: hsla(var(--hue), 100%, 26%, 1);
  --headline: hsla(210, 11%, 15%, 1);
  --paragraph: hsla(210, 9%, 31%, 1);
  --brand-beige: hsla(calc(var(--hue) - 131), 100%, 97%, 1);
  --brand-light: hsla(calc(var(--hue) - 22), 23%, 89%, 1);
  --brand-light-2: hsl(calc(var(--hue) - 10), 14%, 97%);
  --brand-dark: hsla(var(--hue), 100%, 14%, 1);
  --bg-light: hsla(180, 14%, 97%, 1);

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {  
  font-family: "DM Sans";
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;
  background-color: var(--bg-light);

}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
  
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.button {
  background: var(--primary-color);

  padding: 1.6rem 3.2rem;
  width: fit-content;
   
  border:none;
  border-radius: 4rem;

  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  text-decoration: none;

  transition: background 200ms;
}

.button:hover {
  background-color: var(--brand-dark);
}

section {
  padding-block: 10rem;
}

section header h4 {
  font-size: 1.4rem;
  line-height: 150%;
  letter-spacing: 0.08rem;
  color: var(--primary-color);
  text-transform: uppercase;

  margin-bottom: 1.6rem;
}

section header h2 {
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

section header h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;
}

section .content p {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);
}

/* ====== CUSTOMS COLORS ======================================== */
#services .card circle {
  fill: var(--brand-light);
}

#navigation .logo path[fill*="#00856F"],
#backToTopButton svg circle {
  fill: var(--primary-color);
}

body.menu-expanded #navigation .logo path,
#navigation.scroll .logo path[fill*="#00856F"] {
  fill: white;
}

button.open-menu path,
#contact li path {
  stroke: var(--primary-color);
}

/* ====== NAVIGATION ======================================== */
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
}

nav .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background-color: var(--primary-color);
}

nav.scroll svg:nth-child(1) path{
  fill:white;
}
nav.scroll button path{
  stroke:white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

/* ====== MENU-EXPANDED ======================================== */
.menu,
.close-menu {
  position: fixed;
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  display: none;
}

body .menu {
  transform: translateY(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background-color: var(--primary-color);

  height: 100vh;
  width: 100vw;

  padding-top: var(--nav-height);

  transition: transform 300ms;
  transform: translateY(0);
}

body.menu-expanded nav {
  position: relative;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: var(--brand-beige);
  text-decoration: none;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

.menu .button {
  display: inline-block;

  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 8rem;

  background: #FFFFFF;
  border-radius: 4rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

.menu .button:hover {
  background-color: var(--primary-color);
  color: white;

  filter: brightness(1.1);
}

body.menu-expanded .logo,
body.menu-expanded .close-menu {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}

/* ====== HOME ======================================== */
#home {
  padding-top: calc(4.1rem + var(--nav-height));
  padding-block: 0;
}

#home::before {
  content: "";
  width: 100%;
  height: calc(76% + var(--nav-height));
  background-color: var(--brand-light);
  
  display: block;

  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

#home img {
  display: block;
  margin-inline: auto;

  width: 26.3rem;

  object-position: 0 2rem;
}

#home .button {
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
}

#home h1 {
  margin-bottom: 2.4rem;
}

#home h4 {
  font-size: 1.4rem;
  color: var(--primary-color);

  margin-bottom: 1.6rem;
}

#home p {
  font-size: 1.8rem;
  color: var(--paragraph);

  line-height: 150%;
  font-weight: 400;

  margin-bottom: 3.2rem;
}

#home .stats {
  width: 100%;
  height: 47rem;  

  margin-inline: auto;

  background-color: var(--brand-beige);

  display: flex;
  border: 1px solid var(--brand-light);
  justify-content: center;
  flex-direction: column;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: .4rem;
}

#home .stat p {
  margin: 0;

  color: var(--primary-color);
  line-height: 150%;
}

/* ====== SERVICES ======================================== */
#services header h4 {
  margin-bottom: 1.6rem;
}

#services header h2 {
  margin-bottom: 6rem;
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;

  text-align: left;

  background: white;

  border: 1px solid var(--brand-light);
  border-radius: .6rem;
}

#services .card h3 {
  margin-block: 1.6rem;
}

/* ====== ABOUT ======================================== */
#about {
  text-align: left;
  background-color: var(--brand-beige);
}

#about header h2 {
  margin-bottom: 2.4rem;
}

#about .content p {
  margin-top: 2.4rem;
  margin-bottom: 6rem;
}

/* ====== CONTACT ======================================== */
#contact {
  text-align: left;

  background-color: white;
}

#contact header {
  margin-bottom: 3.2rem;
  font-size: 3rem;
  line-height: 3.9rem;

  color: var(--headline);
}

#contact .content ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem;
}

#contact .content ul li {
  display: flex;
  gap: .8rem;
  align-items: center;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: var(--paragraph);

}

#contact .button {
  margin-bottom: 6rem;
}

/* ====== CONTACT ======================================== */
footer {
  background-color: var(--primary-color);

  padding: 6rem;

  text-align: left;
}

footer .logo {
  display: inline-block;
  margin-bottom: 2.4rem;
}

footer .content ul {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  color: var(--brand-beige);

  margin-bottom: 3.2rem;
}

footer .social-links {
  justify-content: flex-start;
}

/* ====== BACKTOTOPBUTTON ======================================== */
a#backToTopButton {
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  visibility: hidden;
  opacity: 0;

  transform: translateY(100%);
  transition: 200ms;
}

a#backToTopButton.show {
  visibility: visible;
  opacity: 1;
  
  transform: translateY(0);
}

a#backToTopButton.show svg circle:hover {
  fill: var(--brand-dark);
}

/* ====== RESPONSIVE ======================================== */
@media (min-width: 1024px) {

  /* ====== GERAL ======================================== */
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
    display: grid;
  }

  .col-a {
    grid-area: A;
  }

  .col-b {
    grid-area: B;
  }

  section {
    padding-block: 16rem;
  }

  section header h2 {
    font-size: 4rem;
    line-height: 5.2rem;
    color: var(--headline);
  }
  /* ====== NAVIGATION ======================================== */


  /* ====== RESET ================== */
  nav#navigation .wrapper * {
    margin: 0;
    padding: 0;
    position: initial;
    display: initial;
    font-size: initial;
    font-weight: initial;
    background: initial;
    opacity: initial;
    color: initial;
    visibility: initial;
    transform: initial;
    flex-direction: initial;
    position: initial;
    filter: initial;
  }

  nav#navigation .open-menu,
  nav#navigation .close-menu,
  nav#navigation .social-links {
    display: none;
  }

  nav#navigation .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60.2%;
  }

  nav#navigation .menu ul:nth-child(1) {
    display: flex;
    gap: 3.2rem;
  }

  nav#navigation .menu ul li a {
    color: var(--primary-color);
    opacity: .7;
    transition: opacity 200ms;
  }

  nav#navigation .menu ul li a:hover {
    opacity: 1;
    font-weight: 700;
  }

  nav#navigation .menu a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;

    border: 1px solid var(--primary-color);
    border-radius: 4rem;

    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: var(--primary-color);

    transition: background 300ms;
  }

  nav#navigation .menu a.button:hover {
    background-color: var(--primary-color);
    border: none;
    color: white;
  }

  nav#navigation.scroll .menu ul li a {
    color: var(--brand-light-2);
    opacity: .6;
  }

  nav#navigation.scroll .menu a.button {
    color: white;
    border-color: white;
  }

  nav#navigation .menu li a::after {
    content: '';
    width: 0;
    height: .2rem;
    background-color: var(--primary-color);

    display: block;

    position: relative;
    bottom: -2rem;
    left: -.78rem;

    transition: width 200ms;
  }

  nav#navigation.scroll .menu li a::after {
  background-color: white;
  }

  nav#navigation.scroll .menu li a.active,
  nav#navigation .menu li a:hover,
  nav#navigation.scroll .menu li a:hover {
    opacity: 1;
  }

  nav#navigation.scroll .menu li a.active::after,
  nav#navigation.scroll .menu li a:hover::after {
    width: 100%;
    padding-inline: .8rem;
    opacity: 1;
  }


  nav#navigation.scroll .menu a.button.active::after, 
  nav#navigation.scroll .menu a.button:hover,
  nav#navigation.scroll .menu a.button:hover::after {
    background-color: var(--primary-color);
    border: none;
    filter: brightness(1.3);
  }


  /* ====== HOME ======================================== */
  #home::before {
    height: calc(96% - var(--nav-height));
  }
  #home {
    padding-top: var(--nav-height);
  }  

  #home .wrapper {
    grid-template-columns: 60.5rem 1fr;
    grid-template-areas: 
    'A B'
    'C C';
  }

  #home .wrapper .col-a {
    grid-area: A;
    text-align: left;
    align-self: center;
  }

  #home .wrapper .col-b {
    grid-area: B;
  }

  #home .wrapper .stats {
    grid-area: C;

    height: fit-content;

    flex-direction: row;
    gap: 0;

    padding: 6rem;
  }
  
  #home  .stats .stat + .stat {
    border-left: 1px solid var(--primary-color);
  }

  #home  .stats .stat {
    flex: 1;
  }

  #home .button {
    margin: 0;
  }

  #home img {
    width: 42rem;
  }

  
  /* ====== SERVICES ======================================== */
  #services h2 {
    width: 49.7rem;
    margin-inline: auto;
  }

  #services .cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem;
  }

  #services .card {
    width: 30%;
    flex-grow: 1;
  }
  /* ====== ABOUT ======================================== */
  #about .wrapper {
    grid-template-columns: 48rem 1fr;
    grid-template-areas: 'B A';
    gap: 6.7rem;
  }

  #about .col-a {
    align-self: center;
  }

  #about header h2 {
    width: 44.7rem;
  }

  #about .content p {
    margin-bottom: 0;
  }
  /* ====== CONTACT ======================================== */
  #contact .wrapper {
    grid-template-columns: 1fr 57.5rem;
    grid-template-areas: 'A B';
  }

  #contact .wrapper header h2 {
    width: 40.4rem;
  }

  #contact .col-a {
    margin: 0;
    align-self: center;
  }

  /* ====== FOOTER ======================================== */
  footer {
    padding-block: 8rem;
  }

  footer .wrapper {
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'A B';  
  }

  footer .wrapper .col-a {
    align-self: center;
  }

  footer .wrapper .col-b {
    align-self: center;
    justify-self: flex-end;
  }

  footer .logo {
    margin-bottom: 2.4rem;
  }

  footer p {
    margin: 0;
  }

}
  